# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.venv/
venv/
env/

# Environment Variables
.env

# Logs
*.log

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Node
node_modules/

# Build
dist/
build/

# Coverage
.coverage
htmlcov/

# Neo4j
neo4j/data/
neo4j/logs/

# Docker
*.pidsss